{% extends 'base.html.twig' %}

{% block title %}
    Welcome DicoQuebac
{% endblock %}

{% block body %}



    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron">
            <h1>Mot of the jour</h1>

            <h2><a href="{{ path('showTerm', {'slug': wotd.term.slug}) }}">{{ wotd.term.name }}</a></h2>
            {% for definition in wotd.term.definitions %}
                <p>Définition : {{ definition.description }}</p>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-6 col-lg-4">

            </div>
            <!--/.col-xs-6.col-lg-4-->
        </div>
        <!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->






{% endblock %}
