{% extends 'base.html.twig' %}
{% block title %}
   Ajouter un nouveau Tarm
{% endblock %}

{% block body %}

   <h1>Ajouter un nouveau tarm</h1>

   {{ form(termForm, {"attr":{"novalidate":"novalidate"}}) }}

{% endblock %}