{% extends 'base.html.twig' %}
{% block title %}
    Modifier un tarm
{% endblock %}

{% block body %}

    <div class="col-xs-12 col-sm-9">
        <h1>Modifier le terme {{ term.name }}</h1>

        {{ form(termForm, {"attr":{"novalidate":"novalidate"}}) }}
    </div>
{% endblock %}