{% extends 'base.html.twig' %}
{% block title %}
   Modifier un tarm
{% endblock %}

{% block body %}

   <h1>Modifier le terme {{ term.name }}</h1>

   {{ form(termForm, {"attr":{"novalidate":"novalidate"}}) }}


{% endblock %}