{% extends "mail.html.twig" %}

{% block content %}
    <h1>RESET DE PASSWORD</h1>
    <a href="{{ url("resetPassword", {"email": user.email, "token": user.token}) }}">reset de mot passe</a>
    <p>{{ user.email }}</p>
    <p>{{ user.token }}</p>
{% endblock %}