{% extends "mail.html.twig" %}

{% block content %}
    <h1>{{ email }} a ajouté un nouveau mot au dikkebektionnaire</h1>
    <p> Il a ajouté le mot <a href="{{ url('showTerm', {'slug': term.slug   } ) }}" class="list-group-item">{{ term.name }}</a></p>
{% endblock %}