{% extends "mail.html.twig" %}

{% block content %}
    <h1>{{ email }} a modifié le terme {{ term.name }}</h1>
    <p>  <a href="{{ url('updateTerm', {'slug': term.slug   } ) }}" class="list-group-item">Voir les modifications</a></p>
{% endblock %}